html, body { height: 100%; padding: 0; margin: 0; }
#div1 { background: #DDD; width: 50%; height: 50%; text-align: center; float: left;}
#div2 { background: #AAA; width: 50%; height: 50%; text-align: center; float: left;}
#div3 { background: #777; width: 50%; height: 50%; text-align: center; float: left;}
#div4 { background: #444; width: 50%; height: 50%; text-align: center; float: left;}

.sidebar-nav li {
    text-indent: -25px;
    line-height: 32px;
}
