{% extends "base.html" %}
{% set active_page = "index" %}

{% block head %}
<link href="/static/css/simple-sidebar.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <form style="padding-top: 50px; width: 20%; margin-left: auto; margin-right: auto;" action="add_one"  method="post" enctype="multipart/form-data">
    <button type="submit" class="btn btn-primary">+ 1</button> Adds one to database value
    </form>
  </div>
</div>
{% endblock %}
